extends ../layout/app
block content
    div.content
        br
        .posts
            section.post
                h1.post-title.text-center #{post.getTitle()}
                if (post.getCreatedAt() != null)
                    p.post-meta(style="margin-left:0;")  #{post.getCreatedAt()}&nbsp;
                        if(hashtags != null)
                            for hashtag in hashtags
                                a.post-category(href="/hashtag/#{hashtag}") #&nbsp;#{hashtag}
            div.post-description
                p !{post.getRenderedContent()}